<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GESTOR DE RECETAS | Regístrate</title>

    <script src="../static/js/registro.js"></script>
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <div class="header-content">
        <div class="logo-area">
          <a href="index.html">
            <img id="dynamicFoodLogo" src="../static/img/logo.svg" alt="Logo" />
            <h1>
              <span class="logo-part-1">GESTOR</span>
              <span class="logo-part-2">RECETAS</span>
            </h1>
          </a>
        </div>
      </div>

      <nav>
        <div class="nav-links">
          <a href="index.html">Recetas</a>
        </div>
        <div class="nav-auth">
          <a
            href="registro.html"
            id="navRegistroBtn"
            style="background-color: var(--primary-red); color: white"
            >Regístrate</a
          >
        </div>
      </nav>
    </header>

    <main class="fade-in">
      <section id="registro">
        <h2>Crear Cuenta</h2>
        <form id="registroForm">
          <input
            type="text"
            id="usuarioRegistro"
            placeholder="Nombre de Usuario"
            required
          />
          <input
            type="email"
            id="emailRegistro"
            placeholder="Correo Electrónico"
            required
          />
          <input
            type="password"
            id="claveRegistro"
            placeholder="Contraseña"
            required
          />
          <button type="submit">Registrarme</button>
        </form>

        <p>¿Ya tienes cuenta? <a href="login.html">Inicia Sesión</a></p>
      </section>
    </main>
  </body>
</html>
